@font-face {
    font-family: "font-1";
    src: url(/font/RobotoMono-VariableFont_wght.ttf);
}
*{margin: 0;
padding: 0;
box-sizing: border-box;}
a {text-decoration: none;}
body {
    background: url(/images/859851.jpg) fixed center/cover;
    font-family: "font-1",sans-serif;
}
#top {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
/* photo */
.element-top:nth-child(1) {position: relative;
    height: 150px;
}
.element-top:nth-child(1) img {position: absolute;
    right: 5px;
    top: 5px;
}

/* liste */
.navbar {
    background-color: rgba(128, 74, 74, 0);
display: flex;
justify-content: right;
padding-top:0px;}
.navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    border-radius: 4px;
}
.navbar ul li {
    padding: 2px 5px;
    background-color: rgb(37, 37, 37);
    border-radius: 4px; 
    margin: 0 0 0 4px;
}
.navbar ul li a {
    color: rgb(255, 255, 255);
}
.navbar ul li:hover {
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
    border-radius: 4px;
}
#accueil {padding-right: 5px;}

#intro{display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
height: auto;
min-width: 80%;
max-width: 900px;
margin: 80px auto 0;
background-color: rgb(209, 192, 224);
}
.element-intro:nth-child(1){width: 80%;
    flex: 3; text-align: justify}
.element-intro:nth-child(2) {height: 150px; width: 150px;}
.element-intro img {height: 100%;}

#prestations{display: flex;
    background-color: aliceblue;
    flex-wrap: wrap;
    border: 2px solid black;
    justify-content: center;
height: auto;
width: 80%;
max-width: 900px;
margin: 80px auto 0;
}
.element-presta p {margin: 3px 5px;}
.element-presta h2 {margin: 3px 5px;}