{% extends 'main/header_footer.html' %}

{% block content %}

<section id="intro">
    <div class="element-intro">
        <p> <h2>Introduction</h2> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus magni asperiores cum, 
            deleniti quibusdam
            <!-- balise br retour a la ligne -->
            adipisci dolore ipsam, iusto est minima id hic saepe sequi. Corporis 
            cumque voluptatem cum soluta laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Soluta a cum officia, nobis vitae, nesciunt facilis veritatis aperiam pariatur provident unde corrupti 
            facere in quam nostrum aut maxime voluptatem architecto dolorem beatae quisquam ipsam minima? Reiciendis 
            aperiam labore pariatur esse suscipit atque culpa, illo sapiente maiores sequi ea praesentium iste.
        </p>
    </div>
    <div class="element-intro">  
    <img src="/images/photo-profile.jpg" alt="photo-massage">
    </div>
</section>
<section id="prestations">
<div class="element-presta">
    <h2>Préstations</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus rem consequatur aliquid impedit aliquam 
    molestiae cumque minus repudiandae <br> totam, voluptatem placeat voluptates ratione praesentium. Odio est 
    sapiente quis perspiciatis nobis. Explicabo iure deleniti ducimus ullam quaerat voluptatem dicta, ex vel 
    ea molestias incidunt ad officiis aliquam laborum, <br> voluptatum animi atque praesentium tenetur facere? 
    Velit repellat eveniet fuga, magni nihil, <br> quibusdam tempore, quis non facere a repellendus neque! 
    Commodi sint rem facere sequi, pariatur quasi aperiam recusandae odit tempora quos ex eum, sapiente 
    repellat illo maxime aspernatur corrupti dolorum quisquam deleniti.</p>
</div>
</section>

{% endblock %}